@media only screen and (max-width: 800px) {
    .divider {
        margin-left: 0px;
        margin-right: 0px;
        border: 1px solid white;
        height: 0px;
    }
    .social-img-wrapper {
        text-align: center;
    }
    .navbar-page-link {
        margin-bottom: 1px;
    }
    li.custom-li.footer-link-li {
        margin-right: 5px;
        /* border-right: 1px solid #76db57e8; */
    }
    a.footer-links {
        font-size: 6px;
    }
}

element.style {
    border: 0;
}





@media only screen and (max-width: 767px) {
    .animate-images {
        background-size: cover;
        min-width: 100%;
        min-height: 115px!important;
    }
    .divider {
        margin-left: 0px;
        margin-right: 0px;
        border: 1px solid white;
        height: 0px;
    }
    .social-img-wrapper {
        text-align: center;
    }
    .navbar-page-link {
        margin-bottom: 1px;
    }
    li.custom-li.footer-link-li {
        margin-right: 5px;
        /* border-right: 1px solid #76db57e8; */
    }
    a.footer-links {
        font-size: 6px;
    }
    .carrental-img {
        width: 178px;
        margin-left: 30px;
    }
    h4.small-header {
        margin-top: 0px!important;
    }
    iframe.google-map {
        width: 315px;
        height: 550px;
    }
}

@media only screen and (max-width: 384px) {
    span.text-uppercase.page-name {
        font-size: 15px;
    }
    .page-name-divider {
        margin-top: 4px;
    }
    .animate-images {
        background-size: cover;
        min-width: 100%;
        min-height: 115px!important;
    }
    .divider {
        margin-left: 0px;
        margin-right: 0px;
        border: 1px solid white;
        height: 0px;
    }
    .social-img-wrapper {
        text-align: center;
    }
    .navbar-page-link {
        margin-bottom: 1px;
    }
    li.custom-li.footer-link-li {
        margin-right: 4px;
        /* border-right: 1px solid #76db57e8; */
    }
    a.footer-links {
        font-size: 4px;
    }
    .float-right.navitems-right {
        margin-left: 0px;
    }
    .grid-img {
        height: 85px;
        width: 81px;
    }
    .isMobile {
        display: block;
    }
    .isDesktop {
        display: none;
    }
    iframe.google-map {
        width: 329px;
        height: 333px;
    }
}

@media only screen and (max-width: 375px) {
    .wild-grid-row {
        width: 100%;
        text-align: center;
        display: block;
    }
    
    .small-descreptions {
        width: 100%;
    }
    .contact-bottom-img {
        height: 100px;
        width: 100px;
        margin: 30px 0px 0px 30px;
       
        margin-left: 100px;
    }
    .carrental {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }
    .carrental-1 {
        width: 100%;
    }
    .carrental-2 {
        width: 100%;
        
    }
    .wild-1st-col1 {
        width: 100%;
    }
    .contact-details {
        display: block;
        width: 100%;
        padding: 0px 30px 0px 30px;
        margin-top: 30px;
    }
    .left-detail {
        width: 100%;
        padding-right: 15px;
    }
    
    .right-detail {
        width: 100%;
        padding-left: 15px;
    }

        
    .wild-grid-img {
        width: 220px;
        height: 130px;
        text-align: center;
        margin-left: 58px;
        margin-bottom: 10px;
    }
    .grid-img {
        height: 85px;
        width: 81px;
    }
    .isMobile {
        display: block;
    }
    .isDesktop {
        display: none;
    }
    iframe.google-map {
        width: 329px;
        height: 333px;
    }
}

@media only screen and (max-width: 360px) {
    span.text-uppercase.page-name {
        font-size: 15px;
    }
    .wild-grid-row {
        width: 100%;
        text-align: center;
    }
    .contact-details {
        display: block;
        width: 100%;
        padding: 0px 30px 0px 30px;
        margin-top: 30px;
    }
    .left-detail {
        width: 100%;
        padding-right: 15px;
    }
    
    .right-detail {
        width: 100%;
        padding-left: 15px;
    }
    .input-box {
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
    }
    
    .animate-images {
        background-size: cover;
        min-width: 100%;
        min-height: 115px!important;
    }
    .divider {
        margin-left: 0px;
        margin-right: 0px;
        border: 1px solid white;
        height: 0px;
    }
    .social-img-wrapper {
        text-align: center;
    }
    .navbar-page-link {
        margin-bottom: 1px;
    }
    li.custom-li.footer-link-li {
        margin-right: 4px;
        /* border-right: 1px solid #76db57e8; */
    }
    a.footer-links {
        font-size: 3px;
    }
    .float-right.navitems-right {
        margin-left: 0px;
    }
    .carrental {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    .carrental-1 {
        width: 100%;
    }
    .carrental-2 {
        width: 100%;
    }
    .small-descreptions {
        width: 100%;
    }
    .carrental-img {
        width: 178px;
        margin-left: 70px;
    }
    .wild-1st-col1 {
        width: 100%;
    }
    .input-box {
        padding: 10px;
        border-radius: 5px;
        font-size: 13px;
    }
    .contact-bottom-img {
       
        margin-left: 90px;
    }
    button.btn.btn-hedaer.vp-btn {
        
        margin-left: 75px;
    }
    .fish-roaster-big-img {
        width: 300x;
        height: 500px;
    }
    .wild-grid-img {
        width: 220px;
        height: 130px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .error-text {
        margin-top: 30px;
        text-align: center;
        color: red;
    }
    .grid-img {
        height: 85px;
        width: 81px;
    }
    .isMobile {
        display: block;
    }
    .isDesktop {
        display: none;
    }
    iframe.google-map {
        width: 329px;
        height: 333px;
    }
}