        body {
            overflow-x: hidden;
        }
        
        .body-bg {
            background-image: url('../images/bg.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        /*Universal Css */
        
        .bg-trans {
            background: transparent;
        }
        
        .light-green {
            color: #76db57e8;
        }
        
        .navbar-toggler {
            padding: 2px 7px;
            font-size: 1.25rem;
            line-height: 1;
            background-color: #579943;
            border: 1px solid white;
            border-radius: .25rem;
        }
        
        i.fas.fa-bars {
            color: white;
            margin-top: 5px;
        }
        /*top bar */
        
        .top-bar {
            margin-top: 30px;
        }
        
        img.logo {
            margin-top: 40px;
        }
        /* Navbar */
        
        button.menu-btn {
            background-color: #579943;
            border: none;
            padding: 0px;
            /* border-radius: 5px; */
            margin-left: 0px;
            border-right: 1px solid #76db57e8;
            width: 130px;
        }
        
        .float-right.navitems-right {
            /* margin-left: 123px; */
            margin-left: 72px;
        }
        
        .navbar {
            padding: 0!important;
        }
        
        ul.navbar-nav.social-icons {
            background: white;
        }
        
        ul.navbar-nav.mex-us-numbers.mt-1 {
            background-color: #579943;
        }
        
        span.light-green.text-uppercase.country-name {
            font-weight: bolder;
            font-size: 22px;
        }
        
        span.text-white.text-uppercase.number {
            font-size: 22px;
            font-weight: bold;
        }
        
        .mex-number {
            margin-left: 5px;
            /* border-right: 1px solid; */
        }
        
        .divider {
            margin-left: 40px;
            margin-right: 40px;
            border: 1px solid white;
            height: 33px;
        }
        /* index page body */
        
        .animate-images {
            background-image: url('../images/header/bay\ life\ vallarta.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            animation: slide 60s infinite;
            width: 100%;
            min-height: 415px;
        }
        
        button.menu-btn:hover {
            transform: scale(1.1);
        }
        
        @keyframes slide {
            0% {
                background-image: url('../images/header/surf\ vallarta.jpg');
            }
            5% {
                background-image: url('../images/header/vallarta\ attitude.jpg');
            }
            10% {
                background-image: url('../images/header/vallarta\ church.jpg');
            }
            15% {
                background-image: url('../images/header/Vallarta\ Clubs.jpg');
            }
            20% {
                background-image: url('../images/header/vallarta\ couple.jpg');
            }
            25% {
                background-image: url('../images/header/vallarta\ days.jpg');
            }
            30% {
                background-image: url('../images/header/Vallarta\ Fireworks.jpg');
            }
            35% {
                background-image: url('../images/header/Vallarta\ flavor.jpg');
            }
            40% {
                background-image: url('../images/header/vallarta\ food.jpg');
            }
            45% {
                background-image: url('../images/header/Vallarta\ Jet\ Skis.jpg');
            }
            50% {
                background-image: url('../images/header/vallarta\ marina.jpg');
            }
            55% {
                background-image: url('../images/header/vallarta\ nights.jpg');
            }
            60% {
                background-image: url('../images/header/Vallarta\ Palms.jpg');
            }
            70% {
                background-image: url('../images/header/Vallarta\ Sky.jpg');
            }
            80% {
                background-image: url('../images/header/vallarta\ stones.jpg');
            }
            90% {
                background-image: url('../images/header/vallarta\ sunset.jpg');
            }
            100% {
                background-image: url('../images/header/vallarta\ weddings.jpg');
            }
        }
        
        .image-animation {
            padding: 15px;
        }
        
        span.text-uppercase.page-name {
            font-weight: bold;
            font-size: 20px;
            color: #579943;
        }
        
        .page-name-divider {
            width: 1px;
            height: 16px;
            border: 1px solid #76db57e8;
            margin: 0px 5px;
            margin-top: 8px;
        }
        
        .page-name-divider:hover {
            cursor: pointer;
        }
        
        img.gallary-image-index {
            width: 100%;
        }
        
        .gallary-image {
            padding: 15px;
        }
        /*Footer Section */
        
        ul.custom-ul.footer-link-ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            justify-content: center;
        }
        
        section.footer-section {
            padding: 10px 10px;
        }
        
        li.custom-li.footer-link-li {
            margin-right: 10px;
            /* border-right: 1px solid #76db57e8; */
        }
        
        a.footer-links {
            font-size: 13px;
        }
        
        .span.footer-creadit.text {
            font-size: 12px;
            margin-top: 20px;
        }
        /* Start TRIP PLANNING PAGE */
        
        .pageHeader {
            color: #579943;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 60px;
            padding-top: 15px;
        }
        
        .btn-hedaer {
            color: #FFF;
            vertical-align: middle;
            width: 170px;
            line-height: 34px;
            padding: 0;
            font-weight: 600;
            text-align: center;
            border-radius: 5px;
            background-color: #579943;
        }
        /*         
        .btn-hedaer:hover {
            color: #FFF;
            background-color: #007144;
            box-shadow: 0px 5px 0px 0px #579943;
        } */
        
        .packeges {
            width: 100%;
            text-align: center;
        }
        /* .small-img {
    width: 20%;
} */
        
        .small-descreptions {
            width: 80%;
        }
        
        .bottom-links {
            text-align: right;
        }
        
        .packeges-right {
            width: 100%;
            text-align: center;
        }
        
        .bg-gainsboro {
            background-color: gainsboro;
        }
        
        .packeges-right-img {
            width: 30%;
        }
        
        .packeges-right-text {
            width: 70%;
        }
        
        .bg-fff {
            background-color: #fff;
        }
        
        .custom-btn {
            width: 120px;
            padding: 0;
            margin: 10px 20px 10px 0;
            font-weight: 600;
            text-align: center;
            line-height: 50px;
            color: #FFF;
            border-radius: 5px;
            transition: all 0.2s;
            background-color: #579943;
            box-shadow: 0px 5px 0px 0px #007144;
        }
        
        .custom-btn:hover {
            color: #FFF;
            background-color: #007144;
            box-shadow: 0px 5px 0px 0px #579943;
        }
        
        .small-header {
            font-size: 1.2rem;
        }
        /* END TRIP PLANNING PAGE*/
        /* START HOME TENTALS */
        
        .home-info {
            display: flex;
            width: 100%;
        }
        
        .home-img {
            width: 50%;
        }
        /* START HOME TENTALS */
        
        .carrental {
            width: 100%;
            display: flex;
            margin-bottom: 30px;
        }
        
        .carrental-1 {
            width: 40%;
        }
        
        .carrental-2 {
            width: 60%;
        }
        
        .carrental-img {
            width: 250px;
            height: 157;
            margin-left: 30px;
        }
        /*Contact Page*/
        
        .contact-bottom-img {
            height: 100px;
            width: 100px;
            margin: 30px 0px 0px 30px;
        }
        
        .contact-details {
            display: flex;
            width: 100%;
            padding: 0px 30px 0px 30px;
            margin-top: 30px;
        }
        
        .left-detail {
            width: 50%;
            padding-right: 15px;
        }
        
        .right-detail {
            width: 50%;
            padding-left: 15px;
        }
        
        .form {
            width: 100%;
            display: flex;
        }
        
        .form-left {
            width: 50%;
        }
        
        .form-right {
            width: 50%;
        }
        
        .input-box {
            padding: 10px;
            border-radius: 5px;
        }
        
        .label-text {
            font-size: 18px;
            font-weight: 500;
        }
        
        .contact-form {
            padding: 30px;
        }
        
        .mt-20 {
            margin-top: 20px;
        }
        
        .form-comments {
            width: 100%;
        }
        
        .comments-box {
            padding: 10px;
            border-radius: 5px;
            height: 130px;
        }
        
        .btn-right {
            text-align: right;
            width: 100%;
        }
        
        .contact-right-section {
            width: 100%;
        }
        
        .skype-logo {
            height: 100px;
            width: 100px;
        }
        /*Contact Page*/
        
        HEAD
        /* START WILD LIFE */
        
        .wild-grid-row {
            width: 100%;
            display: flex;
        }
        
        .wild-1st-col1 {
            width: 50%;
        }
        
        .wild-grid-img {
            width: 220px;
            height: 130px;
        }
        
        .wild-2nd-col2 {
            padding-left: 20px;
            width: 50;
        }
        /* End WILD LIFE */
        /* Start Concierge*/
        
        .pt-30 {
            padding-top: 30px;
        }
        /* end Concierge*/
        /*START Vallarta Vacation Packages*/
        
        .mini-p {
            padding: 30px 0px 15px 0px;
            text-align: center;
            font-size: 13px;
        }
        
        .vacation-link {
            width: 100%;
            text-align: center;
            padding-top: 30px;
        }
        
        .pt-pb-10 {
            padding: 6px 0px 5px 0px;
        }
        /*eND Vallarta Vacation Packages*/
        /*Start golf guide*/
        
        .golf-right {
            margin-top: 50px;
        }
        /*End Golf Guide*/
        /* START FISH ROASTER */
        
        .fish-roaster-top {
            display: flex;
            width: 100%;
        }
        
        .fish-header {
            width: 70%;
        }
        
        .fish-btn {
            width: 30%;
        }
        
        .fish-roaster-big-img {
            width: 775px;
            height: 1000px;
        }
        /* END FISH ROASTER*/
        /* START HOSPITALS*/
        
        .two-col-grid {
            display: flex;
            width: 100%;
        }
        
        .single-col {
            width: 50%;
            padding: 7px 15px;
        }
        
        .small-header-2 {
            font-size: 15px;
            font-weight: 500;
            text-align: center;
        }
        
        .small-text-2 {
            font-size: 12px;
            text-align: center;
        }
        
        .mb-30 {
            margin-bottom: 30px;
        }
        
        .pb-30 {
            padding-bottom: 30px;
        }
        /*END HOSPITALS*/
        
        HEAD .small-descreptions {
            width: 80%;
        }
        
        .bottom-links {
            text-align: right;
        }
        
        .packeges-right {
            width: 100%;
            text-align: center;
        }
        
        .bg-gainsboro {
            background-color: gainsboro;
        }
        
        .packeges-right-img {
            width: 30%;
        }
        
        .packeges-right-text {
            width: 70%;
        }
        
        .bg-fff {
            background-color: #fff;
        }
        
        .custom-btn {
            width: 120px;
            padding: 0;
            margin: 10px 20px 10px 0;
            font-weight: 600;
            text-align: center;
            line-height: 50px;
            color: #FFF;
            border-radius: 5px;
            transition: all 0.2s;
            background-color: #579943;
            box-shadow: 0px 5px 0px 0px #007144;
        }
        
        .custom-btn:hover {
            color: #FFF;
            background-color: #007144;
            box-shadow: 0px 5px 0px 0px #579943;
        }
        
        .small-header {
            font-size: 1.2rem;
        }
        /* END TRIP PLANNING PAGE*/
        /* START HOME TENTALS */
        
        .home-info {
            display: flex;
            width: 100%;
        }
        
        .home-img {
            width: 50%;
        }
        /* START HOME TENTALS */
        
        .carrental {
            width: 100%;
            display: flex;
            margin-bottom: 30px;
        }
        
        .carrental-1 {
            width: 40%;
        }
        
        .carrental-2 {
            width: 60%;
        }
        
        .carrental-img {
            width: 250px;
            height: 157;
            margin-left: 30px;
        }
        /*Contact Page*/
        
        .contact-details {
            display: flex;
            width: 100%;
            padding: 0px 30px 0px 30px;
            margin-top: 30px;
        }
        
        .left-detail {
            width: 50%;
            padding-right: 15px;
        }
        
        .right-detail {
            width: 50%;
            padding-left: 15px;
        }
        
        .form {
            width: 100%;
            display: flex;
        }
        
        .form-left {
            width: 50%;
        }
        
        .form-right {
            width: 50%;
        }
        
        .input-box {
            padding: 10px;
            border-radius: 5px;
        }
        
        .label-text {
            font-size: 18px;
            font-weight: 500;
        }
        
        .contact-form {
            padding: 30px;
        }
        
        .mt-20 {
            margin-top: 20px;
        }
        
        .form-comments {
            width: 100%;
        }
        
        .comments-box {
            padding: 10px;
            border-radius: 5px;
            height: 130px;
        }
        
        .btn-right {
            text-align: right;
            width: 100%;
        }
        
        .contact-right-section {
            width: 100%;
        }
        
        .skype-logo {
            height: 100px;
            width: 100px;
        }
        /*Contact Page*/
        
        .custom-header1 {
            text-align: center;
            padding-top: 30px;
            font-weight: 500;
            font-size: 1.4rem;
            list-style: 1;
        }
        
        .lists {
            padding-left: 40px;
            margin-top: 30px;
            padding-right: 40px;
        }
        
        .small-header1 {
            font-size: 1rem;
        }
        
        .grid-img {
            height: 120px;
            width: 120px;
        }
        
        .img-grids {
            display: flex;
            width: 100%;
            padding-bottom: 15px;
        }
        
        .single-grid {
            width: 25%;
        }
        
        .bottom-links {
            text-align: right;
        }
        
        .packeges-right {
            width: 100%;
            text-align: center;
        }
        
        .bg-gainsboro {
            background-color: gainsboro;
        }
        
        .packeges-right-img {
            width: 30%;
        }
        
        .packeges-right-text {
            width: 70%;
        }
        
        .bg-fff {
            background-color: #fff;
        }
        
        .custom-btn {
            width: 120px;
            padding: 0;
            margin: 10px 20px 10px 0;
            font-weight: 600;
            text-align: center;
            line-height: 50px;
            color: #FFF;
            border-radius: 5px;
            transition: all 0.2s;
            background-color: #579943;
            box-shadow: 0px 5px 0px 0px #007144;
        }
        
        .custom-btn:hover {
            color: #FFF;
            background-color: #007144;
            box-shadow: 0px 5px 0px 0px #579943;
        }
        
        .small-header {
            font-size: 1.2rem;
        }
        /* END TRIP PLANNING PAGE*/
        /* START HOME TENTALS */
        
        .home-info {
            display: flex;
            width: 100%;
        }
        
        .home-img {
            width: 50%;
        }
        /* START HOME TENTALS */
        
        .carrental {
            width: 100%;
            display: flex;
            margin-bottom: 30px;
        }
        
        .carrental-1 {
            width: 40%;
        }
        
        .carrental-2 {
            width: 60%;
        }
        
        .carrental-img {
            width: 250px;
            height: 157;
            margin-left: 30px;
        }
        /*Contact Page*/
        
        .contact-details {
            display: flex;
            width: 100%;
            padding: 0px 30px 0px 30px;
            margin-top: 30px;
        }
        
        .left-detail {
            width: 50%;
            padding-right: 15px;
        }
        
        .right-detail {
            width: 50%;
            padding-left: 15px;
        }
        
        .form {
            width: 100%;
            display: flex;
        }
        
        .form-left {
            width: 50%;
        }
        
        .form-right {
            width: 50%;
        }
        
        .input-box {
            padding: 10px;
            border-radius: 5px;
        }
        
        .label-text {
            font-size: 18px;
            font-weight: 500;
        }
        
        .contact-form {
            padding: 30px;
        }
        
        .mt-20 {
            margin-top: 20px;
        }
        
        .form-comments {
            width: 100%;
        }
        
        .comments-box {
            padding: 10px;
            border-radius: 5px;
            height: 130px;
        }
        
        .btn-right {
            text-align: right;
            width: 100%;
        }
        
        .contact-right-section {
            width: 100%;
        }
        
        .skype-logo {
            height: 100px;
            width: 100px;
        }
        /*Contact Page*/
        /* START WILD LIFE */
        
        .wild-grid-row {
            width: 100%;
            display: flex;
        }
        
        .wild-1st-col1 {
            width: 50%;
        }
        
        .wild-grid-img {
            width: 220px;
            height: 130px;
        }
        
        .wild-2nd-col2 {
            padding-left: 20px;
            width: 50;
        }
        /* End WILD LIFE */
        /* Start Concierge*/
        
        .pt-30 {
            padding-top: 30px;
        }
        /* START WILD LIFE */
        
        .wild-grid-row {
            width: 100%;
            display: flex;
        }
        
        .wild-1st-col1 {
            width: 50%;
        }
        
        .wild-grid-img {
            width: 220px;
            height: 130px;
        }
        
        .wild-2nd-col2 {
            padding-left: 20px;
            width: 50;
        }
        /* End WILD LIFE */
        /* Start Concierge*/
        
        .pt-30 {
            padding-top: 30px;
        }
        /* end Concierge*/
        /*START Vallarta Vacation Packages*/
        
        .mini-p {
            padding: 30px 0px 15px 0px;
            text-align: center;
            font-size: 13px;
        }
        
        .vacation-link {
            width: 100%;
            text-align: center;
            padding-top: 30px;
        }
        
        .pt-pb-10 {
            padding: 6px 0px 5px 0px;
        }
        /*eND Vallarta Vacation Packages*/
        /*Start golf guide*/
        
        .golf-right {
            margin-top: 50px;
        }
        /*End Golf Guide*/
        /* START FISH ROASTER */
        
        .fish-roaster-top {
            display: flex;
            width: 100%;
        }
        
        .fish-header {
            width: 70%;
        }
        
        .fish-btn {
            width: 30%;
        }
        
        .fish-roaster-big-img {
            width: 775px;
            height: 1000px;
        }
        /* END FISH ROASTER*/
        /* Layout Changing */
        
        .isMobile {
            display: none;
        }
        /* START ABOUT US */
        
        .about-map-img {
            width: 400px;
            height: 260px;
        }
        
        .p-small {
            font-size: 14px;
            text-align: justify;
        }
        
        .about-descreption {
            padding: 0px 15px;
        }
        /*END ABOUT US*/
        /* START ERROR*/
        
        .p-30 {
            padding: 30px;
        }
        
        .h4-error {
            text-align: center;
            padding: 30px 0px;
        }
        
        .error-msg-box.text-center {
            border: 1px solid;
            margin-bottom: 60px;
            margin: 0px 60px;
        }
        
        .error-header-bg {
            padding: 10px;
            color: #FFF;
            background-color: #0055BB;
        }
        
        .error-text {
            margin-top: 200px;
            text-align: center;
            color: red;
        }
        /*END ERROR*/